<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/main" method="post">
        <table cellpadding = "50" cellspacing = "50">
            <tr>
        <td><button type="submit" name="bt1" value="DONALD TRUMP" style="border:none;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg" alt="Donald Trump" height = 150px width=150px /></button>
        </td>
        <td>
        <button type="submit" name="bt1" value="JOE BIDDEN" style="border:none;"><img src="https://cdn.cnn.com/cnnnext/dam/assets/200318131928-joe-biden-delantera-sanders-carrera-democrata-presidente-juan-carlos-lopez-pkg-00001418-super-tease.jpg" alt="Joe Biden" height = 150px width=150px/></button>
        </td>
            <td>
        <button type="submit" name="bt1" value="BERNIE SANDERS" style="border:none;"><img src="https://pbs.twimg.com/profile_images/1097820307388334080/9ddg5F6v_400x400.png" alt="Bernie Sanders" height = 150px width=150px/></button>
                </td>
            </tr>
        </table>  
    </form>
</body>
</html>